Repository gardener/terraformer, pull requests merged in 2020-12, with the labels that each got.

#63 Update hashicorp/terraform-provider-aws version
  terraform-bundle.hcl
Labels: kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#64 Fix release test run
  .ci/test-e2e.sh
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/pod-e2e.yaml
  Makefile
Labels: area/dev-productivity, kind/bug, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#66 Split up terraformer docker image
  .ci/pipeline_definitions
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  README.md
  build/alicloud/TF_VERSION
  build/alicloud/terraform-bundle.hcl
  build/all/TF_VERSION
  build/all/terraform-bundle.hcl
  build/aws/TF_VERSION
  build/aws/terraform-bundle.hcl
  build/azure/TF_VERSION
  build/azure/terraform-bundle.hcl
  build/fetch-providers.sh
  build/gcp/TF_VERSION
  build/gcp/terraform-bundle.hcl
  build/openstack/TF_VERSION
  build/openstack/terraform-bundle.hcl
  build/packet/TF_VERSION
  build/packet/terraform-bundle.hcl
  cmd/terraformer/app/terraformer.go
  hack/get-version.sh
  pkg/version/version.go
  test/e2e/pod/pod_test.go
Labels: area/cost, area/dev-productivity, area/performance, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l
