Repository gardener/terraformer, pull requests merged in 2021-04, with the labels that each got.

#89 Revert to the default concourse image builder
  .ci/pipeline_definitions
  .test-defs/pod-e2e.yaml
  Dockerfile
Labels: area/dev-productivity, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#88 Update hashicorp/terraform-provider-google
  build/gcp/terraform-bundle.hcl
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#90 Enable Kaniko
  .ci/pipeline_definitions
  .dockerignore
  .test-defs/pod-e2e.yaml
  Dockerfile
  TF_VERSION
  build/alicloud/TF_VERSION
  build/all/TF_VERSION
  build/aws/TF_VERSION
  build/azure/TF_VERSION
  build/gcp/TF_VERSION
  build/openstack/TF_VERSION
  build/slim/TF_VERSION
Labels: area/dev-productivity, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#92 Maintain the provider version updates for the "all" image variant
  build/all/terraform-bundle.hcl
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#91 upgrade tf-provider alicloud
  build/alicloud/terraform-bundle.hcl
  build/all/terraform-bundle.hcl
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#93 Make terraform error output available in termination log
  .gitignore
  Dockerfile
  README.md
  example/20-terraformer-validate-pod.yaml
  example/30-terraformer-apply-pod.yaml
  example/40-terraformer-destroy-pod.yaml
  pkg/terraformer/paths.go
  pkg/terraformer/terraformer.go
  pkg/terraformer/terraformer_test.go
  test/e2e/binary/binary_test.go
  test/e2e/pod/pod_test.go
  test/utils/matchers.go
Labels: area/usability, kind/enhancement, kind/test, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m
